@page "/combats"
@inject NavigationManager Navigation
@inject DiceCombatsService CombatService

<style>
    .CombatsCombatLink {
        color:white;
        background-color: #004547;
        border-radius:30px;
        box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
        padding:10px;
        margin:5px;
    }
</style>

<div style="padding-bottom:20px; display: flex; justify-content: flex-end; align-items: center;">
    <MudStack Row="true" Style="display: flex; gap: 10px; align-items: center;">
        <MudSwitch @bind-Value="_showEditionButtons" Label="Show edition buttons" Color="Color.Primary" />
        <MudButton OnClick="@(() => Navigation.NavigateTo("/combatmanager/new"))"
                   Variant="Variant.Filled"
                   StartIcon="@Icons.Material.Filled.Add"
                   Color="@Color.Primary"
                   Size="Size.Large">
            New combat
        </MudButton>
    </MudStack>
</div>

<div style="background-color:#0F0F0F;padding:20px;border-radius:10px;">
    @for (char chr = 'a'; chr < 'z'; chr++)
    {
        @if (CombatService.GetCombatList().Find(x => x.Name.ToLower().StartsWith(chr)) != null)
        {
            <div style="border-bottom:solid; border-bottom-width:1px; border-bottom-color:grey;">
                <h4>@chr.ToString().ToUpper()</h4>
            </div>
            <div class="row">
                @foreach (DCCombat combat in CombatService.GetCombatList().FindAll(x => x.Name.ToLower().StartsWith(chr)))
                {
                    <div class="col col-md-4">
                        <MudStack Row="true">
                            <h4><a href="/combatmanager/@combat.Id.ToString()">@combat.Name</a></h4>
                                @if (CombatService.IsCombatFavorite(combat.Id.ToString()))
                                {
                                <MudIconButton OnClick="() => {CombatService.RemoveCombatToFavoriteByGUID(combat.Id.ToString()); StateHasChanged();}" Variant="Variant.Filled" Icon="@Icons.Material.Filled.Star" Color="@Color.Warning" Size="Size.Large"></MudIconButton>
                                } else
                                {
                                    <MudIconButton OnClick="() => {CombatService.AddCombatToFavoriteByGUID(combat.Id.ToString()); StateHasChanged();}" Variant="Variant.Filled" Icon="@Icons.Material.Filled.Star" Color="@Color.Primary" Size="Size.Large"></MudIconButton>
                                }
                                @if (_showEditionButtons)
                                {
                                    <MudIconButton OnClick="() => Edit(combat)" Variant="Variant.Filled" Icon="@Icons.Material.Filled.Edit" Color="@Color.Primary" Size="Size.Large"></MudIconButton>
                                    <MudIconButton OnClick="() => CombatService.DeleteCombat(combat)" Variant="Variant.Filled" Icon="@Icons.Material.Filled.Delete" Color="@Color.Error" Size="Size.Large"></MudIconButton>
                                }
                        </MudStack>
                    </div>
                }
            </div>
        }
    }

</div>

@code {
    private bool _showEditionButtons;

    private void Edit(DCCombat combat)
    {
        Navigation.NavigateTo($"/combatmanager/{combat.Id.ToString()}?EditonMode=true");
    }
}