@page "/"

@inject NavigationManager Navigation
@inject DiceCombatsService CombatService

<style>
    .favorite-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>

<GenericModal TContent="WelcomeMessage" OnClose="HandleWelcomeMessageModalClose" @ref="WelcomeMessageModalRef">
    <WelcomeMessage NewVersion="_newVersion" UpdateAvailable="_updateAvailable" UpdateInfos="_updateInfos" />
</GenericModal>

<div style="justify-content:center;text-align:center;padding-top:50px">
    <h3>Welcome to DiceCombats !</h3>
    
    <p>This TTRPG tool to help you managing creatures and combats for any type of game system.</p>
</div>

<div style="justify-content:center;text-align:center;padding-top:50px">
    <h3>Your favorite combats</h3>

    @if (CombatService.GetCreatureList().Count == 0)
    {
        <p>You don't have any creature yet which are required to create your first combat.</p>
        <MudButton OnClick="@(() => Navigation.NavigateTo("/newcreature"))"
                    Variant="Variant.Filled"
                    StartIcon="@Icons.Material.Filled.Add"
                    Color="@Color.Primary"
                    Size="Size.Large">
            Create your first creature or player
        </MudButton>
    }
    else if (CombatService.GetCombatList().Count == 0)
    {
        <p>You don't have any combat yet.</p>
        <MudButton OnClick="@(() => Navigation.NavigateTo("/combatmanager/new"))"
                    Variant="Variant.Filled"
                    StartIcon="@Icons.Material.Filled.Add"
                    Color="@Color.Primary"
                    Size="Size.Large">
            Create your first combat
        </MudButton>
    }
    else if (CombatService.GetFavoriteCombatsGuids().Count == 0)
    {
        <p>You don't have any combat added to favorites.</p>
        <MudButton OnClick="@(() => Navigation.NavigateTo("/combatsexplorer"))"
                   Variant="Variant.Filled"
                   StartIcon="@Icons.Material.Filled.Add"
                   Color="@Color.Primary"
                   Size="Size.Large">
            Select favorite combats
        </MudButton>
    } else
    {
        <div class="row favorite-container">
            @foreach (string guid in CombatService.GetFavoriteCombatsGuids())
            {
                <div style="border-radius:10px;background-color:#1E867F;padding:5px;margin:5px;width:18rem;">
                    <h4><a href="/combatmanager/@guid">@CombatService.GetCombatFromGUID(guid)?.Name</a></h4>
                </div>
            }
        </div>
    }

    <MudDivider Style="margin-top:50px;margin-bottom:30px;"></MudDivider>

    <a href="https://github.com/YannCharbon/DiceCombats" target="_blank" style="color:white;margin:10px;"><MudIcon Icon="@Icons.Custom.Brands.GitHub" Size="@Size.Large" Title="GitHub" /></a>
    <MudIcon Icon="@Icons.Material.Filled.Settings" Size="@Size.Large" style="color:white;margin:10px;cursor:pointer;" Title="Settings" @onclick="@(() => Navigation.NavigateTo("/settings"))" />


</div>

@code {
    private GenericModal<WelcomeMessage>? WelcomeMessageModalRef;

    private bool _newVersion = false;
    private bool _updateAvailable = false;
    private GitHubRelease? _updateInfos = null;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            string lastKnownVersion = Preferences.Get("LastKnownVersion", "-1");

            // Fetch update information
            _updateInfos = await CombatService.CheckUpdate();
            if (_updateInfos != null)
            {
                if (Preferences.Get("LastShowedNewVersion", "-1") != _updateInfos?.tag_name)
                {
                    _updateAvailable = (CombatService.GetVersion() != _updateInfos?.tag_name);
                }
            }

            if (lastKnownVersion != CombatService.GetVersion())
            {
                _newVersion = true;
            }

            // Show the modal if necessary
            if (lastKnownVersion == "-1" || _newVersion || _updateAvailable)
            {
                WelcomeMessageModalRef?.Show();
            }
        }
    }

    private void HandleWelcomeMessageModalClose(bool result)
    {
        Preferences.Set("LastKnownVersion", CombatService.GetVersion());
        if (_updateInfos != null)
        {
            Preferences.Set("LastShowedNewVersion", _updateInfos.tag_name);
        }
    }
}
