@using DiceCombats
@using MudBlazor.Utilities

<style>
    .CreatureCustomFieldRendererFieldTitle {
        background-color:#100060;
        color:white;
        border-radius: 10px;
        padding:10px;
        margin:5px;
    }

    .CreatureCustomFieldRendererCheckBoxGridLabels {
        font-size:10pt;
        padding: 4px;
    }
</style>

<div>
    @if (EditionMode)
    {
        <MudStack Row="true">
            <MudTextField Immediate="true" @bind-Value="Field.Title" Label="Edit field name" Variant="Variant.Outlined" />
            <MudCheckBox Label="Field is shared between all instances of this creature" Variant="Variant.Outlined" @bind-Value="Field.SharedAcrossCreatureInstances" />
        </MudStack>        
    }

    @if (Field is DCCreatureNumericField numericField)
    {
        <MudNumericField @bind-Value="numericField.Value" Label="@Field.Title" Variant="Variant.Outlined" />
    }
    else if (Field is DCCreatureTextField textField)
    {
        <MudTextField @bind-Value="textField.Text" Label="@Field.Title" Variant="Variant.Outlined" />
    }
    else if (Field is DCCreatureCheckboxGridField checkboxGridField)
    {
        @if (EditionMode)
        {
            <div class="row">
                <div class="col col-md-2">
                    <MudNumericField @bind-Value="checkboxGridField.Columns" Label="Horizontal checkbox count" Variant="Variant.Outlined" Min="1" />
                </div>
                <div class="col col-md-2">
                    <MudNumericField @bind-Value="checkboxGridField.Rows" Label="Vertical checkbox count" Variant="Variant.Outlined" Min="1" />
                </div>
                <div class="col col-md-2">
                    <MudCheckBox T="bool" @bind-Value="checkboxGridField.HasColumnHeaders" Label="Column labels"></MudCheckBox>
                </div>
                <div class="col col-md-2">
                    <MudCheckBox T="bool" @bind-Value="checkboxGridField.HasRowHeaders" Label="Row labels"></MudCheckBox>
                </div>
            </div>
        } else
        {
            <span class="CreatureCustomFieldRendererFieldTitle">@checkboxGridField.Title</span>
        }
        <div style="padding:10px;">
            <table>
                @if (checkboxGridField.HasColumnHeaders)
                {
                    <tr>
                        @if (checkboxGridField.HasRowHeaders)
                        {
                            <td>&nbsp;</td>
                        }
                        @foreach (int i in Enumerable.Range(0,checkboxGridField.ColumnHeaders.Count))
                        {
                            @if (EditionMode)
                            {
                                <td><MudTextField Immediate="true" @bind-Value="checkboxGridField.ColumnHeaders[i]" Label="Edit column name" Variant="Variant.Outlined" /></td>
                            } else
                            {
                                <td><span class="CreatureCustomFieldRendererCheckBoxGridLabels">@checkboxGridField.ColumnHeaders[i]</span></td>
                            }
                }
                    </tr>
                }
            @foreach (int i in Enumerable.Range(0, checkboxGridField.Rows))
                {
                    <tr>
                        @if (checkboxGridField.HasRowHeaders)
                        {
                            @if (EditionMode)
                            {
                                <td><MudTextField Immediate="true" @bind-Value="checkboxGridField.RowHeaders[i]" Label="Edit row name" Variant="Variant.Outlined" /></td>
                            }
                            else
                            {
                                <td><span class="CreatureCustomFieldRendererCheckBoxGridLabels">@checkboxGridField.RowHeaders[i]</span></td>
                            }
                            
                        }
                        @foreach (int j in Enumerable.Range(0, checkboxGridField.Columns))
                        {
                            <td>
                                <input type="checkbox" @bind="checkboxGridField.GridState[i][j]" />
                            </td>
                        }
                    </tr>
                }
            </table>
        </div>
    }
    else if (Field is DCCreatureColorField colorField)
    {
        @if (EditionMode)
        {
            <MudColorPicker Variant="Variant.Outlined" Label="Basic Color Picker" @bind-Text="colorField.Value" Style="@($"color: {colorField.Value};")" Placeholder="Select Color" />
        } else
        {
            <span class="CreatureCustomFieldRendererFieldTitle">@colorField.Title</span>
            <span style="@($"background-color:{colorField.Value ?? ""};")">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        }
    }
</div>

@code {
    [Parameter]
    public DCCreatureCustomField Field { get; set; } = default!;
    [Parameter]
    public bool EditionMode { get; set; } = false;

}
