@*
 * DiceCombats - Copyright (C) 2025 Yann Charbon
 * SPDX-License-Identifier: GPL-3.0-or-later
 *
 * This file is part of DiceCombats, released under the GNU GPL v3.
 * See the LICENSE file in the repository root for details.
*@

@using DiceCombats
@using MudBlazor.Utilities
@inject DiceCombatsService CombatService
@inject IStringLocalizer<Resources.Localization.CreatureCustomFieldRenderer> Loc

<style>
    .CreatureCustomFieldRendererFieldTitle {
    padding:10px;
    font-weight:700;
    }

    .CreatureCustomFieldRendererCheckBoxGridLabels {
    font-size:10pt;
    padding: 4px;
    }

    .DnDConditionsFieldItem {
    border-radius: 100px;
    padding: 5px;
    display: flex; /* Enables Flexbox */
    align-items: center; /* Aligns content vertically */
    justify-content: center; /* Aligns content horizontally (optional) */
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
    }

    .CreatureCustomFieldRendererFieldLabel label {
    background-color: #004D40;
    color: white;
    padding: 2px;
    border-radius: 4px;
    }

    .CreatureCustomFieldRendererFieldBackground {
    background-color: #4A4A5A;
    border-radius:4px;
    }
</style>

@if (EditionMode)
{
    <MudGrid>
        <MudItem sm="4">
            <MudTextField Immediate="true" @bind-Value="Field.Title" Label="@Loc["FieldNameLabel"]" Variant="Variant.Outlined" />
        </MudItem>
        <MudItem sm="4">
            @if (CombatService.GetUserCreatureCustomFieldByName(Field.Title) == null)
            {
                <MudButton OnClick="@(() => CombatService.AddUserCreatureCustomField(Field))" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.PersonAddAlt1" Color="@Color.Primary" Size="Size.Large">@Loc["CustomFieldBtn"]</MudButton>
            } else
            {
                <MudButton OnClick="@(() => CombatService.RemoveUserCreatureCustomFieldByName(Field.Title))" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.PersonRemove" Color="@Color.Error" Size="Size.Large">@Loc["CustomFieldBtn"]</MudButton>
            }
        </MudItem>
        <MudItem sm="2">
            <MudCheckBox @bind-Value="Field.SharedAcrossCreatureInstances" Label="@Loc["SharedField"]" Variant="Variant.Outlined" />
        </MudItem>
    </MudGrid>

    @if (Field is DCCreatureHitPointsField hitPointsField)
    {
        <MudNumericField @bind-Value="hitPointsField.MaximumHP" Label="@Loc["MaxHPLabel"]" Variant="Variant.Outlined" />
    }
    else if (Field is DCCreatureNumericField numericField)
    {
        <MudNumericField @bind-Value="numericField.Value" Label="@Field.Title" Variant="Variant.Outlined" />
    }
    else if (Field is DCCreatureTextField textField)
    {
        <MudTextField AutoGrow @bind-Value="textField.Text" Label="@Field.Title" Variant="Variant.Outlined" />
    }
    else if (Field is DCCreatureTextGridField textGridField)
    {
        <div class="d-flex flex-wrap gap-2">
            <MudNumericField Style="max-width:150px;" @bind-Value="textGridField.Columns" Label="@Loc["TextGridHorizontal"]" Variant="Variant.Outlined" Min="1" />
            <MudNumericField Style="max-width:150px;" @bind-Value="textGridField.Rows" Label="@Loc["TextGridVertical"]" Variant="Variant.Outlined" Min="1" />
            <MudCheckBox T="bool" @bind-Value="textGridField.HasColumnHeaders" Label="@Loc["TextGridColumnLabels"]"></MudCheckBox>
            <MudCheckBox T="bool" @bind-Value="textGridField.HasRowHeaders" Label="@Loc["TextGridRowLabels"]"></MudCheckBox>
        </div>

        <div style="padding:10px;overflow-x:auto;">
            <table style="min-width:600px;">
                @if (textGridField.HasColumnHeaders)
                {
                    <tr>
                        @if (textGridField.HasRowHeaders)
                        {
                            <td>&nbsp;</td>
                        }
                        @foreach (int i in Enumerable.Range(0, textGridField.ColumnHeaders.Count))
                        {
                            <td><MudTextField style="min-width:100px;" Immediate="true" @bind-Value="textGridField.ColumnHeaders[i]" Label="@Loc["TextGridColumnName"]" Variant="Variant.Outlined" /></td>
                        }
                    </tr>
                }
                @foreach (int i in Enumerable.Range(0, textGridField.Rows))
                {
                    <tr>
                        @if (textGridField.HasRowHeaders)
                        {
                            <td><MudTextField style="min-width:100px;" Immediate="true" @bind-Value="textGridField.RowHeaders[i]" Label="@Loc["TextGridRowName"]" Variant="Variant.Outlined" /></td>

                        }
                        @foreach (int j in Enumerable.Range(0, textGridField.Columns))
                        {
                            <td>
                                <MudCheckBox T="bool" @bind-Value="textGridField.HasTextLabels[i][j]" Label="@Loc["TextGridShowLabel"]"></MudCheckBox>
                                @if (textGridField.HasTextLabels[i][j] == true) {
                                    <MudTextField style="min-width:100px;" Immediate="true" @bind-Value="textGridField.TextLabels[i][j]" Label="Label" Variant="Variant.Outlined" />
                                }
                                <MudTextField style="min-width:100px;" AutoGrow Immediate="true" @bind-Value="textGridField.TextValues[i][j]" Label="@textGridField.TextLabels[i][j]" Variant="Variant.Outlined" />
                            </td>
                        }
                    </tr>
                }
            </table>
        </div>
    }
    else if (Field is DCCreatureCheckboxField checkBoxField)
    {
        <div class="d-flex flex-wrap" style="padding-top:5px;padding-bottom:5px;">
            <MudButton OnClick="@(() => checkBoxField.AddOption())" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Color="@Color.Primary" Size="Size.Large">@Loc["CBFieldAddOption"]</MudButton>
            <MudCheckBox T="bool" @bind-Value="checkBoxField.ShowFieldName" Label="@Loc["CBFieldShowFieldName"]"></MudCheckBox>
            <MudCheckBox T="bool" @bind-Value="checkBoxField.ShowTextFields" Label="@Loc["CBFieldShowTextFields"]"></MudCheckBox>
        </div>
        <div class="d-flex flex-wrap gap-3">
            @foreach (int i in Enumerable.Range(0, checkBoxField.Labels.Count))
            {
                <div class="d-flex flex-wrap gap-4" style="padding:5px;background-color:#404040;border-radius:5px;">
                    <MudTextField Immediate="true" @bind-Value="checkBoxField.Labels[i]" Label="Name" Variant="Variant.Outlined" />
                    <MudCheckBox Label="@checkBoxField.Labels[i]" @bind-Value="checkBoxField.SelectedOptions[i]"></MudCheckBox>
                    @if (checkBoxField.ShowTextFields == true)
                    {
                        <MudTextField Immediate="true" @bind-Value="checkBoxField.TextFieldsLabels[i]" Label="Text label" Variant="Variant.Outlined" />
                    }
                    <MudButton OnClick="@(() => checkBoxField.RemoveOption(checkBoxField.Labels[i]))" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Delete" Color="@Color.Secondary" Size="Size.Medium">Delete</MudButton>
                </div>
            }
        </div>
    }
    else if (Field is DCCreatureCheckboxGridField checkboxGridField)
    {
        <div class="d-flex flex-wrap gap-2">
            <MudNumericField Style="max-width:150px;" @bind-Value="checkboxGridField.Columns" Label="@Loc["CBGridHorizontal"]" Variant="Variant.Outlined" Min="1" />
            <MudNumericField Style="max-width:150px;" @bind-Value="checkboxGridField.Rows" Label="@Loc["CBGridVertical"]" Variant="Variant.Outlined" Min="1" />
            <MudCheckBox T="bool" @bind-Value="checkboxGridField.HasColumnHeaders" Label="@Loc["CBGridColumnLabels"]"></MudCheckBox>
            <MudCheckBox T="bool" @bind-Value="checkboxGridField.HasRowHeaders" Label="@Loc["CBGridRowLabels"]"></MudCheckBox>
        </div>

        <div style="padding:10px;overflow-x:auto;">
            <table>
                @if (checkboxGridField.HasColumnHeaders)
                {
                    <tr>
                        @if (checkboxGridField.HasRowHeaders)
                        {
                            <td>&nbsp;</td>
                        }
                        @foreach (int i in Enumerable.Range(0, checkboxGridField.ColumnHeaders.Count))
                        {
                            <td><MudTextField style="min-width:100px;" Immediate="true" @bind-Value="checkboxGridField.ColumnHeaders[i]" Label="@Loc["CBGridColumnName"]" Variant="Variant.Outlined" /></td>
                        }
                    </tr>
                }
                @foreach (int i in Enumerable.Range(0, checkboxGridField.Rows))
                {
                    <tr>
                        @if (checkboxGridField.HasRowHeaders)
                        {
                            <td><MudTextField style="min-width:100px;" Immediate="true" @bind-Value="checkboxGridField.RowHeaders[i]" Label="@Loc["CBGridRowName"]" Variant="Variant.Outlined" /></td>

                        }
                        @foreach (int j in Enumerable.Range(0, checkboxGridField.Columns))
                        {
                            <td>
                                <input type="checkbox" @bind="checkboxGridField.GridState[i][j]" />
                            </td>
                        }
                    </tr>
                }
            </table>
        </div>
    }
    else if (Field is DCCreatureColorField colorField)
    {
        <MudColorPicker Variant="Variant.Outlined" ColorPickerView="ColorPickerView.GridCompact" Label="@Loc["ColorPickerName"]" @bind-Text="colorField.Value" Style="@($"color: {colorField.Value};")" Placeholder="Select Color" />
    }
    else if (Field is DCCreatureConditionsField dndConditionsField)
    {
        <MudStack Row="true" style="padding-top:5px;padding-bottom:5px;">
            <MudButton OnClick="@(() => dndConditionsField.AddOption())" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Color="@Color.Primary" Size="Size.Large">@Loc["CBFieldAddOption"]</MudButton>
        </MudStack>
        <div class="d-flex flex-wrap gap-4">
            @foreach (int i in Enumerable.Range(0, dndConditionsField.Labels.Count))
            {
                <MudStack Row="true" Style="padding:5px;background-color:#404040;border-radius:5px;">
                    <MudTextField Immediate="true" @bind-Value="dndConditionsField.Labels[i]" Label="@Loc["OptionLabel"]" Variant="Variant.Outlined" />
                    <MudCheckBox Label="@dndConditionsField.Labels[i]" @bind-Value="dndConditionsField.SelectedOptions[i]"></MudCheckBox>
                </MudStack>
                <MudButton OnClick="@(() => dndConditionsField.RemoveOption(dndConditionsField.Labels[i]))" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Delete" Color="@Color.Secondary" Size="Size.Medium">Delete</MudButton>
            }
        </div>
    }
    else if (Field is DCCreatureStatsField statsField)
    {
        <MudNumericField @bind-Value="statsField.Count" Label="@Loc["CreatureStatsCount"]" style="max-width:200px;" Variant="Variant.Outlined" />
        <MudCheckBox Label="@Loc["CreatureStatsKeepValuesEditable"]" @bind-Value="statsField.ValuesAreEditable"></MudCheckBox>
        <MudStack Row="true" style="overflow:auto;">
            @foreach (int i in Enumerable.Range(0, statsField.Count))
            {
                <MudStack Row="false">
                    <MudTextField style="min-width:100px;" Immediate="true" @bind-Value="statsField.StatsLabels[i]" Label="@Loc["CreatureStatsStatLabel"]" Variant="Variant.Outlined" />
                    <MudNumericField @bind-Value="statsField.StatsValues[i]" Label="@statsField.StatsLabels[i]" Variant="Variant.Outlined" />
                </MudStack>
            }
        </MudStack>
    }
    else if (Field is DCCreatureDetailedPopupField detailedPopupField)
    {
        <GenericModal TContent="DetailedPopupFieldPopup" OnClose="() => {}" @ref="_modal">
            <DetailedPopupFieldPopup DetailedPopupField="detailedPopupField" EditionMode="true" />
        </GenericModal>

        <MudButton OnClick="@(() => _modal?.ShowAsync())" Variant="Variant.Filled" Color="Color.Secondary" StartIcon="@Icons.Material.Filled.Edit">Edit subfields</MudButton>

        <div style="display:flex; flex-wrap:wrap; margin-top:5px;">
            @foreach (DCCreatureDetailedPopupField.SubField subField in detailedPopupField.SubFields)
            {
                @if (subField.Name != string.Empty) {
                    <div style="padding:5px;margin:5px;border-radius:5px;background-color:var(--mud-palette-primary)">@subField.Name</div>
                }
            }
        </div>
    }
}
else
{
    // Normal rendering
    @if (Field is DCCreatureHitPointsField hitPointsField)
    {
        <MudStack Row="true" Style="display: flex;justify-content: center;align-items: center;">
            <MudNumericField @bind-Value="hitPointsField.CurrentHP" Variant="Variant.Outlined" Style="width:150px;" Adornment="Adornment.End" AdornmentText="@(" / " + hitPointsField.MaximumHP.ToString() + " " + Loc["HP"])" Class="CreatureCustomFieldRendererFieldLabel CreatureCustomFieldRendererFieldBackground" />
        </MudStack>
    }
    else if (Field is DCCreatureNumericField numericField)
    {
        <MudNumericField @bind-Value="numericField.Value" Label="@Field.Title" Variant="Variant.Outlined" Class="CreatureCustomFieldRendererFieldLabel CreatureCustomFieldRendererFieldBackground" />
    }
    else if (Field is DCCreatureTextField textField)
    {
        <MudTextField AutoGrow spellcheck="false" @bind-Value="textField.Text" Label="@Field.Title" Variant="Variant.Outlined" style="min-width:300px;" Class="CreatureCustomFieldRendererFieldLabel CreatureCustomFieldRendererFieldBackground" />
    }
    else if (Field is DCCreatureTextGridField textGridField)
    {
        <MudStack Row="false">
            <MudItem>
                <b><h5 class="CreatureCustomFieldRendererFieldTitle">@textGridField.Title</h5></b>
            </MudItem>
            <MudItem>
                <div style="padding-bottom:10px;">
                    <table>
                        @if (textGridField.HasColumnHeaders)
                        {
                            <tr>
                                @if (textGridField.HasRowHeaders)
                                {
                                    <td>&nbsp;</td>
                                }
                                @foreach (int i in Enumerable.Range(0, textGridField.ColumnHeaders.Count))
                                {
                                    <td><span class="CreatureCustomFieldRendererCheckBoxGridLabels">@textGridField.ColumnHeaders[i]</span></td>
                                }
                            </tr>
                        }
                        @foreach (int i in Enumerable.Range(0, textGridField.Rows))
                        {
                            <tr>
                                @if (textGridField.HasRowHeaders)
                                {
                                    <td><span class="CreatureCustomFieldRendererCheckBoxGridLabels">@textGridField.RowHeaders[i]</span></td>
                                }
                                @foreach (int j in Enumerable.Range(0, textGridField.Columns))
                                {
                                    <td style="padding:3px;vertical-align:top;">
                                        @if (textGridField.HasTextLabels[i][j] == true)
                                        {
                                            <MudTextField AutoGrow Immediate="true" spellcheck="false" @bind-Value="textGridField.TextValues[i][j]" Label="@textGridField.TextLabels[i][j]" Variant="Variant.Outlined" Class="CreatureCustomFieldRendererFieldLabel CreatureCustomFieldRendererFieldBackground" />
                                        }
                                        else
                                        {
                                            <MudTextField AutoGrow Immediate="true" spellcheck="false" @bind-Value="textGridField.TextValues[i][j]" Variant="Variant.Outlined" Class="CreatureCustomFieldRendererFieldLabel CreatureCustomFieldRendererFieldBackground" />
                                        }
                                    </td>
                                }
                            </tr>
                        }
                    </table>
                </div>
            </MudItem>
        </MudStack>
    }
    else if (Field is DCCreatureCheckboxField checkBoxField)
    {
        @if (checkBoxField.ShowFieldName)
        {
            <b><span class="CreatureCustomFieldRendererFieldTitle">@checkBoxField.Title</span></b>
        }
        <MudStack Row="true">
            @foreach (int i in Enumerable.Range(0, checkBoxField.Labels.Count))
            {
                <MudCheckBox Label="@checkBoxField.Labels[i]" @bind-Value="checkBoxField.SelectedOptions[i]"></MudCheckBox>
                @if (checkBoxField.ShowTextFields == true)
                {
                    <MudTextField AutoGrow spellcheck="false" @bind-Value="checkBoxField.TextFields[i]" Label="@checkBoxField.TextFieldsLabels[i]" Variant="Variant.Outlined" Class="CreatureCustomFieldRendererFieldLabel CreatureCustomFieldRendererFieldBackground" />
                }
            }
        </MudStack>
    }
    else if (Field is DCCreatureCheckboxGridField checkboxGridField)
    {
        <b><span class="CreatureCustomFieldRendererFieldTitle">@checkboxGridField.Title</span></b>
        <div style="padding:10px;">
            <table>
                @if (checkboxGridField.HasColumnHeaders)
                {
                    <tr>
                        @if (checkboxGridField.HasRowHeaders)
                        {
                            <td>&nbsp;</td>
                        }
                        @foreach (int i in Enumerable.Range(0, checkboxGridField.ColumnHeaders.Count))
                        {
                            <td><span class="CreatureCustomFieldRendererCheckBoxGridLabels">@checkboxGridField.ColumnHeaders[i]</span></td>
                        }
                    </tr>
                }
                @foreach (int i in Enumerable.Range(0, checkboxGridField.Rows))
                {
                    <tr>
                        @if (checkboxGridField.HasRowHeaders)
                        {
                            <td><span class="CreatureCustomFieldRendererCheckBoxGridLabels">@checkboxGridField.RowHeaders[i]</span></td>
                        }
                        @foreach (int j in Enumerable.Range(0, checkboxGridField.Columns))
                        {
                            <td style="padding:3px;">
                                <input type="checkbox" @bind="checkboxGridField.GridState[i][j]" />
                            </td>
                        }
                    </tr>
                }
            </table>
        </div>
    }
    else if (Field is DCCreatureColorField colorField)
    {
        <MudStack Row="true" Wrap="Wrap.Wrap">
            @if (_showColorPicker)
            {
                <div @onclick="() => {_showColorPicker = false; NotifyParentOnChange();}">
                    <MudColorPicker
                    PickerVariant="PickerVariant.Static"
                    ColorPickerView="ColorPickerView.GridCompact"
                    Variant="Variant.Outlined" Label="@Loc["ColorPickerName"]"
                    @bind-Text="colorField.Value"
                    Style="@($"color: {colorField.Value ?? ""};")" Placeholder="Select Color" />
                </div>                
                <span style="@($"cursor:pointer;background-color:{colorField.Value ?? ""};border-radius:5px;border-width:1px;border-color:grey;width:50px;height:50px;")" @onclick="() => {_showColorPicker = !_showColorPicker; NotifyParentOnChange();}">&nbsp;Close&nbsp;</span>
            } else
            {
                <span class="CreatureCustomFieldRendererFieldTitle">@colorField.Title</span>
                <span style="@($"cursor:pointer;background-color:{colorField.Value ?? ""};border-radius:5px;border-width:1px;border-color:grey;width:50px;height:50px;")" @onclick="() => {_showColorPicker = !_showColorPicker; NotifyParentOnChange();}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            }

        </MudStack>
    }
    else if (Field is DCCreatureConditionsField dndConditionsField)
    {
        <MudStack Row="true" Wrap="Wrap.Wrap" Style="cursor:pointer;" @onclick="() => {_dndConditionsFieldMaximized = !_dndConditionsFieldMaximized; NotifyParentOnChange();}">
            @if (_dndConditionsFieldMaximized == false) {
                @if (dndConditionsField.SelectedOptions.Count(x => x == true) == 0) {
                    <MudItem><h5>@Loc["DnDConditionAddCondition"]&nbsp;<MudIcon Icon="@Icons.Material.Filled.KeyboardDoubleArrowRight" Color="Color.Success"></MudIcon></h5></MudItem>
                }
                @foreach (int i in Enumerable.Range(0, dndConditionsField.Labels.Count))
                {
                    @if (dndConditionsField.SelectedOptions[i] == true) {
                        <MudItem class="DnDConditionsFieldItem" style="background-color:#9A7A00;">@dndConditionsField.Labels[i]</MudItem>
                    }
                }
            } else {
                <MudItem style="padding:5px;border-radius:5px;border-color:grey;border-width:thin;"><h5>@Loc["DnDConditionMinimize"]&nbsp;<MudIcon Icon="@Icons.Material.Filled.KeyboardDoubleArrowLeft" Color="Color.Success"></MudIcon></h5></MudItem>
                @foreach (int i in Enumerable.Range(0, dndConditionsField.Labels.Count))
                {
                    @if (dndConditionsField.SelectedOptions[i] == true)
                    {
                        <MudItem Style="margin:-10px;padding:-5px;transform: scale(0.9);">
                            <MudCheckBox style="color:#BAAA00;" Label="@dndConditionsField.Labels[i]" @bind-Value="dndConditionsField.SelectedOptions[i]"></MudCheckBox>
                        </MudItem>
                    } else {
                        <MudItem Style="margin:-10px;padding:-5px;transform: scale(0.9);">
                            <MudCheckBox Label="@dndConditionsField.Labels[i]" @bind-Value="dndConditionsField.SelectedOptions[i]"></MudCheckBox>
                        </MudItem>
                    }
                }
            }
        </MudStack>
    }
    else if (Field is DCCreatureStatsField statsField)
    {
        <MudStack Row="true">
            @foreach (int i in Enumerable.Range(0, statsField.Count))
            {
                <MudStack Row="false" Style="border-radius:5px;border-width:thin;background-color:darkcyan;">
                    @if (statsField.ValuesAreEditable)
                    {
                        <MudItem Style="padding-left:5px;padding-right:5px;text-align:center;font-weight:200;font-size:14px;">@statsField.StatsLabels[i]</MudItem>
                        <MudNumericField @bind-Value="statsField.StatsValues[i]" style="max-width:90px;" Variant="Variant.Outlined" />
                    } else
                    {
                        <MudItem Style="text-align:center;font-weight:400;font-size:18px;">@statsField.StatsValues[i]</MudItem>
                        <MudItem Style="padding-left:5px;padding-right:5px;text-align:center;font-weight:200;font-size:14px;">@statsField.StatsLabels[i]</MudItem>
                    }
                </MudStack>
            }
        </MudStack>
    }
    else if (Field is DCCreatureDetailedPopupField detailedPopupField)
    {
        <GenericModal TContent="DetailedPopupFieldPopup" OnClose="() => {}" @ref="_modal">
            <DetailedPopupFieldPopup DetailedPopupField="detailedPopupField" />
        </GenericModal>

        <MudButton OnClick="@(() => _modal?.ShowAsync())" Variant="Variant.Filled" Color="Color.Secondary" StartIcon="@Icons.Material.Filled.Lightbulb">@detailedPopupField.Title</MudButton>
    }
}

@code {
    [Parameter]
    public DCCreatureCustomField Field { get; set; } = default!;
    [Parameter]
    public bool EditionMode { get; set; } = false;
    [Parameter]
    public EventCallback OnChange { get; set; }

    private bool _showColorPicker = false;

    private bool _dndConditionsFieldMaximized = false;

    private GenericModal<DetailedPopupFieldPopup>? _modal;

    private void NotifyParentOnChange()
    {
        if (OnChange.HasDelegate)
        {
            OnChange.InvokeAsync();
        }
    }

}
