@using System.Net
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using HtmlAgilityPack

@inject DiceCombatsService CombatService
@inject NavigationManager Navigation

<h3>CreatureEditor</h3>


@if (creature == null)
{
    <p>@(CreatureGuid) does not exist</p>
} else
{
    <div class="row">
        <div class="col col-md-4">
            <h1>@creature.Name</h1>
        </div>
        <div class="col col-md-2">
            <MudButton OnClick="Save" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" IconColor="Color.Primary" Size="Size.Large">Save</MudButton>
        </div>
        <div class="col col-md-2">
            <MudButton OnClick="Cancel" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Cancel" IconColor="Color.Secondary" Size="Size.Large">Cancel</MudButton>
        </div>
    </div>
    
    <div style="padding:10px">
        @if (creature.ImageSheetBas64 != string.Empty)
        {
            <img src="@creature.ImageSheetBas64" height="400px" />
        } else if (creature.HtmlSheet != string.Empty)
        {
            @((MarkupString)creature.HtmlSheet)
        } else
        {
            <p>Could not render creature sheet</p>
        }
    </div>
    <div style="padding:10px;">
        <MudNumericField @bind-Value="creature.MaxHitPoints" Label="Maximum hit points (always present)" Variant="Variant.Outlined" Step="1" />
    </div>
    <div style="padding:10px;">
        <MudNumericField @bind-Value="creature.CurrentHitPoints" Label="Current hit points (always present)" Variant="Variant.Outlined" Step="1" Disabled="true" />
    </div>
    <div style="padding:10px;">
        <CreatureCustomFieldsEditor Fields="creature.CustomFields" />
    </div>
}




@code {
    [Parameter]
    public string CreatureGuid { get; set; } = default!;


    private DCCreature? creature = null;

    protected override void OnInitialized()
    {
        creature = CombatService.GetCreatureFromGUID(CreatureGuid);
        base.OnInitialized();
    }

    private void Save()
    {
        if (creature != null)
        {
            CombatService.SaveCreatures();
        }
        Navigation.NavigateTo($"/creaturesexplorer");
    }

    private void Cancel()
    {
        if (creature != null)
        {
            CombatService.DeleteCreature(creature);
        }
        Navigation.NavigateTo($"/");
    }
}
