@using System.Net
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using HtmlAgilityPack

@inject DiceCombatsService CombatService
@inject NavigationManager Navigation

<h3>CreatureEditor</h3>


@if (creature == null)
{
    <p>@(CreatureGuid) does not exist</p>
} else
{
    <MudStack Row="true">
        <h1>@creature.Name</h1>
        <MudButton OnClick="Save" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" IconColor="Color.Primary" Size="Size.Large">Save</MudButton>
        <MudButton OnClick="Cancel" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Cancel" IconColor="Color.Secondary" Size="Size.Large">Cancel</MudButton>
        <MudCheckBox Variant="Variant.Filled" Label="Edition mode" @bind-Value="_editionMode"></MudCheckBox>
    </MudStack>

    <div style="padding:10px">
        @if (creature.ImageSheetBas64 != string.Empty)
        {
            <img src="@creature.ImageSheetBas64" height="400px" />
        }
        else if (creature.HtmlSheet != string.Empty)
        {
            @((MarkupString)creature.HtmlSheet)
        }
        else if (creature.IsPlayer)
        {
            <h3>Player</h3>
        }
        else
        {
            <p>Could not render creature sheet</p>
        }
    </div>
    <div style="padding:10px;">
        <CreatureCustomFieldsEditor Fields="creature.CustomFields" EditionMode="_editionMode" />
    </div>
}




@code {
    [Parameter]
    public string CreatureGuid { get; set; } = default!;


    private DCCreature? creature = null;
    private bool _editionMode = true;

    protected override void OnInitialized()
    {
        creature = CombatService.GetCreatureFromGUID(CreatureGuid);
        base.OnInitialized();
    }

    private void Save()
    {
        if (creature != null)
        {
            CombatService.SaveCreatures();
        }
        Navigation.NavigateTo($"/creatures");
    }

    private void Cancel()
    {
        if (creature != null)
        {
            CombatService.DeleteCreature(creature);
        }
        Navigation.NavigateTo($"/");
    }
}
