@*
 * DiceCombats - Copyright (C) 2025 Yann Charbon
 * SPDX-License-Identifier: GPL-3.0-or-later
 *
 * This file is part of DiceCombats, released under the GNU GPL v3.
 * See the LICENSE file in the repository root for details.
*@

@using DiceCombats
@inject DiceCombatsService CombatService
@inject IStringLocalizer<Resources.Localization.CreatureCustomFieldRenderer> Loc

@if (EditionMode)
{
    <GenericModal TContent="DetailedPopupFieldPopup" OnClose="() => {}" @ref="_modal">
        <DetailedPopupFieldPopup DetailedPopupField="Field" EditionMode="true" />
    </GenericModal>

    <MudButton OnClick="@(() => _modal?.ShowAsync())" Variant="Variant.Filled" Color="Color.Secondary" StartIcon="@Icons.Material.Filled.Edit">Edit contents</MudButton>

    <div style="display:flex; flex-wrap:wrap; margin-top:10px;">
        @foreach (var c in Field.Contents)
        {
            @if (!string.IsNullOrWhiteSpace(c.Name))
            {
                <div style="padding:5px;margin:5px;border-radius:5px;background-color:var(--mud-palette-primary)">@c.Name</div>
            }
            else
            {
                <div style="padding:5px;margin:5px;border-radius:5px;background-color:var(--mud-palette-primary)">@c.Kind</div>
            }
        }
    </div>
}
else
{
    <GenericModal TContent="DetailedPopupFieldPopup" OnClose="() => {}" @ref="_modal">
        <DetailedPopupFieldPopup DetailedPopupField="Field" />
    </GenericModal>

    <MudButton OnClick="@(() => _modal?.ShowAsync())" Variant="Variant.Filled" Color="Color.Secondary" StartIcon="@Icons.Material.Filled.Lightbulb">@Field.Title</MudButton>
}

@code {
    [Parameter] public DCCreatureDetailedPopupField Field { get; set; } = default!;
    [Parameter] public bool EditionMode { get; set; } = false;
    [Parameter] public EventCallback OnChange { get; set; }

    private GenericModal<DetailedPopupFieldPopup>? _modal;

    private void NotifyParentOnChange()
    {
        if (OnChange.HasDelegate)
        {
            OnChange.InvokeAsync();
        }
    }
}
