@using DiceCombats
@using MudBlazor.Utilities
@inject DiceCombatsService CombatService
@inject IStringLocalizer<Resources.Localization.CreatureCustomFieldRenderer> Loc

@if (EditionMode)
{
    <MudNumericField @bind-Value="Field.Count" Label="@Loc["CreatureStatsCount"]" style="max-width:200px;" Variant="Variant.Outlined" />
    <MudCheckBox Label="@Loc["CreatureStatsKeepValuesEditable"]" @bind-Value="Field.ValuesAreEditable"></MudCheckBox>
    <MudStack Row="true" style="overflow:auto;">
        @foreach (int i in Enumerable.Range(0, Field.Count))
        {
            <MudStack Row="false">
                <MudTextField style="min-width:100px;" Immediate="true" @bind-Value="Field.StatsLabels[i]" Label="@Loc["CreatureStatsStatLabel"]" Variant="Variant.Outlined" />
                <MudNumericField @bind-Value="Field.StatsValues[i]" Label="@Field.StatsLabels[i]" Variant="Variant.Outlined" />
            </MudStack>
        }
    </MudStack>
}
else
{
    <div style="zoom: 0.85;">
        <MudStack Row="true">
            @foreach (int i in Enumerable.Range(0, Field.Count))
            {
                <MudStack Row="false" Style="border-radius:5px;border-width:thin;background-color:darkcyan;">
                    @if (Field.ValuesAreEditable)
                    {
                        <MudItem Style="padding-left:5px;padding-right:5px;text-align:center;font-weight:200;font-size:14px;">@Field.StatsLabels[i]</MudItem>
                        <MudNumericField @bind-Value="Field.StatsValues[i]" style="max-width:90px;" Variant="Variant.Outlined" />
                    }
                    else
                    {
                        <MudItem Style="text-align:center;font-weight:400;font-size:18px;">@Field.StatsValues[i]</MudItem>
                        <MudItem Style="padding-left:5px;padding-right:5px;text-align:center;font-weight:200;font-size:14px;">@Field.StatsLabels[i]</MudItem>
                    }
                </MudStack>
            }
        </MudStack>
    </div>
}

@code {
    [Parameter]
    public DCCreatureStatsField Field { get; set; } = default!;
    [Parameter]
    public bool EditionMode { get; set; } = false;
    [Parameter]
    public EventCallback OnChange { get; set; }

    private void NotifyParentOnChange()
    {
        if (OnChange.HasDelegate)
        {
            OnChange.InvokeAsync();
        }
    }
}
