@*
 * DiceCombats - Copyright (C) 2025 Yann Charbon
 * SPDX-License-Identifier: GPL-3.0-or-later
 *
 * This file is part of DiceCombats, released under the GNU GPL v3.
 * See the LICENSE file in the repository root for details.
*@

@inject DiceCombatsService CombatService
@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime
@inject IStringLocalizer<Resources.Localization.CreatureSelector> Loc

<style>
    .DetailedPopupSubFieldBox {
    background-color: #2A2A2A;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
    border: 1px solid #808080;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    }

    .masonry-layout {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; /* Space between items */
    zoom: 0.85;
    }

    .masonry-item {
    display: block;
    width: calc(50% - 1rem); /* Adjust width for 3 items per row */
    margin-bottom: 1rem;
    }

    @@media screen and (max-width: 768px) {
    .masonry-item {
    width: calc(100% - 1rem); /* Adjust for smaller screens */
    }
    }

    @@media screen and (max-width: 480px) {
    .masonry-item {
    width: 100%; /* Single column for narrow screens */
    }
    }
</style>

<script>
    window.initializeMasonry = (selector) => {
    const grid = document.querySelector(selector);
    if (grid) {
    new Masonry(grid, {
    itemSelector: '.masonry-item',
    columnWidth: '.masonry-item',
    percentPosition: true,
    gutter: 10
    });
    }
    };
</script>

<h4 style="text-align:center;margin-bottom:20px;">@DetailedPopupField.Title</h4>
<hr />

@if (EditionMode)
{
    @foreach (DCCreatureDetailedPopupField.SubField subField in DetailedPopupField.SubFields)
    {
        <div class="DetailedPopupSubFieldBox">
            <MudStack Row="true">
                <MudTextField @bind-Value="subField.Name" Label="Sub field name (optional)" Variant="Variant.Outlined" />
                <MudCheckBox Label="Editable" @bind-Value="subField.IsEditable"></MudCheckBox>
                <MudCheckBox Label="Markdown" @bind-Value="subField.IsMarkdown"></MudCheckBox>
                <MudNumericField @bind-Value="subField.MaxHeight" Lable="Maximum height (0 = auto)" Min="0" Variant="Variant.Outlined"></MudNumericField>
            </MudStack>
            <div>
                <MudTextField @bind-Value="subField.Content" Label="Sub field content" Variant="Variant.Outlined" AutoGrow MaxLines="15" />
            </div>
        </div>
    }
    <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" OnClick="() => DetailedPopupField.AddNewField()">Add new sub field</MudButton>
}
else
{
    <div style="display:flex;flex-direction:row; margin-bottom:10px;">
        <MudIconButton
        Style="margin:3px;"
        Variant="Variant.Filled"
        Color="Color.Dark"
        Icon="@(DetailedPopupField.RenderModeGridEnabled ? Icons.Material.Filled.GridView : Icons.Material.Filled.FormatListBulleted)"
        OnClick="() => {DetailedPopupField.RenderModeGridEnabled = !DetailedPopupField.RenderModeGridEnabled; UpdateMasonryGridLayout();}">
        </MudIconButton>
    </div>
    @if (DetailedPopupField.RenderModeGridEnabled)
    {
        <div id="masonry-layout-detailed-popup" class="masonry-layout">
            @foreach (DCCreatureDetailedPopupField.SubField subField in DetailedPopupField.SubFields)
            {
                <div class="masonry-item">
                    <div class="DetailedPopupSubFieldBox">
                        @if (subField.Name != string.Empty)
                        {
                            <h5 style="margin-top:5px;"><span style="padding:5px;margin-bottom:5px;background-color:darkcyan;border-radius:10px;">@subField.Name</span></h5>
                            <hr />
                        }
                        <div>
                            @if (subField.IsMarkdown)
                            {

                                if (subField.IsEditable)
                                {
                                    <MudSwitch @bind-value="_markdownEdition">Edit</MudSwitch>
                                }
                                if (_markdownEdition == false)
                                {
                                    @((MarkupString)subField.GetMarkdownContentAsHtml())
                                }
                                else
                                {
                                    <MudTextField spellcheck="false" Variant="Variant.Outlined" Lines="15" @bind-value="subField.Content"></MudTextField>
                                }
                            }
                            else
                            {

                                <MudTextField spellcheck="false" Variant="Variant.Text" MaxLines="subField.MaxHeight > 0 ? subField.MaxHeight : -1" AutoGrow ReadOnly="!subField.IsEditable" @bind-value="subField.Content"></MudTextField>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        @foreach (DCCreatureDetailedPopupField.SubField subField in DetailedPopupField.SubFields)
        {
            <div class="DetailedPopupSubFieldBox">
                @if (subField.Name != string.Empty)
                {
                    <h5 style="margin-top:5px;"><span style="padding:5px;margin-bottom:5px;background-color:darkcyan;border-radius:10px;">@subField.Name</span></h5>
                    <hr />
                }
                <div>
                    @if (subField.IsMarkdown)
                    {

                        if (subField.IsEditable)
                        {
                            <MudSwitch @bind-value="_markdownEdition">Edit</MudSwitch>
                        }
                        if (_markdownEdition == false)
                        {
                            @((MarkupString)subField.GetMarkdownContentAsHtml())
                        }
                        else
                        {
                            <MudTextField spellcheck="false" Variant="Variant.Outlined" Lines="15" @bind-value="subField.Content"></MudTextField>
                        }
                    }
                    else
                    {

                        <MudTextField spellcheck="false" Variant="Variant.Text" MaxLines="subField.MaxHeight > 0 ? subField.MaxHeight : -1" AutoGrow ReadOnly="!subField.IsEditable" @bind-value="subField.Content"></MudTextField>
                    }
                </div>
            </div>
        }
    }
}


@code {
    [Parameter] public DCCreatureDetailedPopupField DetailedPopupField { get; set; } = default!;
    [Parameter] public bool EditionMode { get; set; } = false;

    private bool _markdownEdition = false;


    protected override void OnInitialized()
    {

        base.OnInitialized();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (DetailedPopupField.RenderModeGridEnabled)
        {
            await JSRuntime.InvokeVoidAsync("initializeMasonry", "#masonry-layout");
        }
    }

    void UpdateMasonryGridLayout()
    {
        JSRuntime.InvokeVoidAsync("initializeMasonry", "#masonry-layout-detailed-popup");
    }
}